.history/
.dep
*.o
*.bin
*.eep
# Junk files
*.bak
*.swp
*~
.DS_Store

# Build artifacts
.clang_complete
.build/
*.elf
*.log
*.lss
*.lst
*.map
*.o
*.stackdump
*.sym

# QMK-specific
api_data/v1
doxygen/
quantum/version.h
*.bin
*.eep
*.hex
*.qmk
*.uf2

# Old-style QMK Makefiles
/keyboards/*/Makefile
/keyboards/*/*/Makefile
/keyboards/*/*/*/Makefile
/keyboards/*/*/*/*/Makefile
/keyboards/*/*/*/*/*/Makefile
/keyboards/*/keymaps/Makefile
/keyboards/*/*/keymaps/Makefile
/keyboards/*/*/*/keymaps/Makefile
/keyboards/*/*/*/*/keymaps/Makefile
/keyboards/*/*/*/*/*/keymaps/Makefile

# Eclipse/PyCharm/Other IDE Settings
*.iml
.browse.VC.db*
.cproject
.idea
.idea/
.project
.settings/
.vagrant/

# ?
.dep
.history/
build/
cmake-build-debug
CMakeLists.txt

# Let these ones be user specific, since we have so many different configurations
*.code-workspace
.stfolder
.tags
.vscode/c_cpp_properties.json
.vscode/ipch/
.vscode/last.sql
.vscode/launch.json
.vscode/tasks.json
.vscode/temp.sql
tags

# Ignore image files
*.gif
*.jpg
*.png

# Things Travis sees
/.vs
id_rsa_*
secrets.tar

# Python things
__pycache__
.python-version

# Prerequisites for updating ChibiOS
/util/fmpp*

# Allow to exist but don't include it in the repo
user_song_list.h
_site/*
.sass-cache/*
/.idea/
id_rsa_*
secrets.tar
.bundle/*
vendor/*
*.sw[po]
node_modules
/functional_tests/bin/selenium-server-standalone-3.12.0.jar
/functional_tests/bin
/functional_tests/tmp
/selenium-debug.log
/functional_tests/reports/
/selenium-server.log
/cypress

.DS_Store
node_modules
/dist

/tests/e2e/reports/
selenium-debug.log

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
ga-production.js

# clangd
compile_commands.json
.clangd/
.cache/

